@page
@model ServiceHost.Areas.Admin.Pages.Shop.CustomerDiscounts.IndexModel
@{
}

@*<div class="row">
    <form class="col-10" asp-page="./index" method="get">
        <div class="col-3 mx-3 d-inline-block" style="">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                <div class="input-group">
                    <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                    <input asp-for="SearchModel.Name" type="text" class="form-control" placeholder="نام کتگوری را بنویسید">
                </div>
            </div>
        </div>
        <div class="col-3 mx-3 border-0 d-inline-block">
            <div class="form-check form-switch p-0">
                <label class="form-check-label text-body text-truncate mb-0" for="flexSwitchCheckDefault">نشان دادن حذف شده ها</label>
                <input class="form-check-input ms-auto" asp-for="SearchModel.IsRemoved" type="checkbox" id="flexSwitchCheckDefault">
            </div>
        </div>
        <button class="col-3 mx-3 btn bg-gradient-info d-inline-block" type="submit">جستجو</button>
    </form>
    <a class="col-2" asp-page="./Create">
        <button type="button" class="btn bg-gradient-success">ساخت کتگوری جدید</button>
    </a>
</div>*@
<a class="col-2" asp-page="./Create">
    <button type="button" class="btn bg-gradient-success">افزودن تخفیف جدید</button>
</a>
<div class="card my-5">

    <table class="table align-items-center mb-0">
        <thead>
            <tr>
                <th class="align-middle text-center text-secondary text-s font-weight-bolder">#</th>
                <th class="align-middle text-center text-secondary text-s font-weight-bolder ps-2">سر تیتر</th>
                <th class="align-middle text-center text-secondary text-s font-weight-bolder ps-2">تاریخ شروع</th>
                <th class="align-middle text-center text-secondary text-s font-weight-bolder ps-2">تاریخ پایان</th>
                <th class="align-middle text-center text-secondary text-s font-weight-bolder ps-2">مقدار تخفیف</th>
                <th class="align-middle text-center text-secondary text-s font-weight-bolder ps-2">وضعیت</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ViewModels)
            {
                <tr>
                    <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">@item.Id</p>
                    </td>
                    <td class="align-middle text-center">
                        <p class="mb-0 text-s font-weight-bold">@item.Title</p>
                    </td>
                    <td class="align-middle text-center">
                        <p class="mb-0 text-s font-weight-bold">@item.StartDateTime</p>
                    </td>
                    <td class="align-middle text-center">
                        <p class="text-s font-weight-bold mb-0">@item.EndDateTime</p>
                    </td>
                    <td class="align-middle text-center">
                        <p class="text-s font-weight-bold mb-0">@item.DiscountPercent</p>
                    </td>
                    <td class="align-middle text-center">
                        @if (item.IsRemoved == true)
                        {
                            <span class="badge bg-gradient-dark">غیر فعال</span>
                        }
                        else
                        {
                            <span class="badge bg-gradient-success">فعال</span>
                        }
                    </td>

                    <td class="align-middle d-flex align-items-center text-center">

                        <div class="dropdown">
                            <button type="button" class="btn bg-gradient-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu text-center" data-popper-placement="bottom-start" aria-labelledby="dropdownTable">
                                <li><a class="dropdown-item" asp-page="./edit" asp-route-id="@item.Id">تغییر</a></li>
                                <li><a class="dropdown-item" asp-page="./index" asp-page-handler="restore" asp-route-id="@item.Id">بازگردانی</a></li>
                                <li><a class="dropdown-item" asp-page="./index" asp-page-handler="remove" asp-route-id="@item.Id">حذف</a></li>
                                <li><a class="dropdown-item" asp-page="./ProductCustomerList" asp-route-customerDiscountId="@item.Id">مشاهده لیست محصولات این تخفیف</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>
